body {
  color: #DFF6FF;
  background-color: #06283D;
  margin: 0;
}

h1 {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  font-size: 45px;
}

span {
  color: #1363DF;
}

nav {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

nav>ul>li {
  list-style: none;
  display: inline-block;
}

input {
  width: 40%;
  padding: 0px 10px;
  border: none;
}

input:focus {
  outline: gray 1px solid;
  cursor: pointer;
  background-color: #DFF6FF;
}

li>a {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 20px;
}

li>a:hover {
  background-color: white;
  color: rgb(146, 190, 223);
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  padding: 20px;
}

h3 {
  width: 100%;
}

.product-container {
  display: flex;
  justify-content: space-between;
}

.product-div {
  background-color: #0f364e;
  width: 30%;
  border-radius: 10px;
}

div.product-div>img {
  border-radius: 10px;
  width: 100%;
  min-height: 210px;
  max-height: 210px;
}

h4 {
  margin: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

p {
  margin: 15px;
  padding-bottom: 20px;
}

button {
  margin: 20px auto;
  display: block;
  color: white;
  background-color: #1363DF;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;
}

button:hover {
  cursor: pointer;
  opacity: 0.7;
  color: black;
  bottom: 0;
}

footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #0f364e;
  height: 75px;
  bottom: 0;
  position: absolute;
}

.footer-header {
  text-align: center;
  margin: 20px auto;
}

@media screen and (max-width: 645px) {
  .product-container {
    flex-direction: column;
  }

  .product-div {
    width: 100%;
    margin-bottom: 20px;
  }

  input {
    padding: 20px 10px;
    border: none;
    width: 100%;
    justify-content: left;
    order: 1
  }

  ul {
    order: 0;
  }

  nav {
    flex-wrap: wrap;
  }
}