body {
  color: #DFF6FF;
  background-color: #06283D;
}

h1 {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  font-size: 45px;
}

span {
  color: #1363DF;
}

nav {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
}

nav>ul>li {
  list-style: none;
  display: inline-block;
}

input {
  width: 40%;
  padding: 0px 10px;
  border: none;
}

input:focus {
  outline: gray 1px solid;
  cursor: pointer;
  background-color: #DFF6FF;
}

li>a {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 20px;
}

li>a:hover {
  background-color: white;
  color: rgb(146, 190, 223);
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  padding: 20px;
}

h3 {
  width: 100%;
}

.product-container {
  display: flex;
  justify-content: space-between;
}

.product-div {
  background-color: #0f364e;
  width: 30%;
  border-radius: 10px;
}

div.product-div>img {
  border-radius: 10px;
  width: 100%;
}

h4 {
  margin: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

@media screen and (max-width: 480px) {
  .product-container {
    flex-direction: column;
  }

  .product-div {
    width: 100%;
  }
}
